.success-page{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-block-start: 20px;
    margin-top: 20px;
    margin-top: auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .img-div{
        width: 100%;
        margin: 0;
        padding: 0;
       img{
        width: 100%;
       }
    }

    .success-text{
     padding: 0 20px 20px;
     margin-top: -50px;

     button{
        width: 100%;
        padding: 10px;
        background: #340b94;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;

        .tab-link {
            text-decoration: none;
            color: inherit;
          }
     }
    }
}