.widget{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 15px;

    .left{

        .MyWidget-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
            border-radius: 50%;
            background: #35fc77d2;
            margin: auto;
        }

        .widget-icon{
            color: #06722af1;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        line-height: 2px;

        p{
            padding-bottom: 0;
            margin-bottom: 0;
            font-weight: lighter;
            color: rgb(128, 127, 127);
            font-size: 12px;
        }
        h2{
            font-size: 25px;
            padding-bottom: 3px;
            margin-bottom: 4px;
        }
    }
}