.navbar{
    width:83%;
    margin:auto;
    height: 50px;
    display: flex;
    margin-bottom: 30px;


    .wrapper{
        width: 100%;
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            padding: 15px 10px;
            background: #fff;
            border-radius:10px;
            // border: 0.5px solid lightgray;

            input{
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }
}