.menu-icon {
  display: none;
}

.sidebar {
  width: 250px;
  background: #fff;
  box-shadow: 7px 7px 9px -2px rgba(212, 208, 208, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0);
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  hr {
    border: 1px solid #34495e;
    margin: 0;
  }

  .centre {
    flex: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #807c7c;
  }

  li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.1s;

    .icon {
      margin-right: 10px;
      color: #757373;
    }

    .dropdown-icon {
      margin-left: auto;
    }

    &:hover {
      background-color: rgb(84, 8, 134);
      border-radius: 10px;
      color: #fff;

      .icon {
        color: #ffffff;
      }
    }
  }

  .dropdown {
    display: block;
    list-style: none;
    padding-left: 20px;

    li {
      padding: 10px 0;
      font-size: 16px;

      &:hover {
        background-color: transparent;
        color: rgb(54, 7, 85);
        font-weight: bold;
      }
    }
  }

  .bottom {
    padding: 20px;
    text-align: left;
    cursor: pointer;

    li {
      h4 {
        margin: 0;
        padding: 0;
      }

      p {
        font-size: 12px;
        padding: 0;
        margin: 0;
      }
    }

    .user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      margin-left: -20px;
    }

    .bottom-ad {
      width: 80%;
      margin: auto;
      margin-bottom: 1em;
      padding: 20px;
      text-align: center;
      border-radius: 15px;
      color: #fff;
      background: linear-gradient(to right, rgb(198, 72, 230), rgb(40, 3, 100));

      button {
        padding: 10px 35px;
        background: #fff;
        border-radius: 20px;
        color: #2f1d96;
        font-weight: 900;
        font-size: 14px;
        border: none;
        outline: none;
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    transform: translateX(-100%);
    width: 50px;
    position: absolute;
    height: 100%;

    &.open {
      transform: translateX(0);
    }

    .top {
      font-size: 20px;
      padding: 5px;
      margin-bottom: 15px;

      .logo {
        margin-top: 35px;
      }

      .logo-content {
        display: none;
      }

      .menu-icon {
        display: block;
        margin: 10px;
        padding: 10px;
        border: 2px solid rgba(102, 102, 99, 0.8);
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.1s;
      margin-bottom: 10px;

      span {
        display: none;
      }

      .dropdown {
        display: block;
        padding: 10px;
        background:#5e5c5c;
        color: #000;
        position: absolute;
        left: 100px;
        background: #fff;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: 1000;

        li{
          display: block;
          padding: 10px;
        }
      }

      .icon {
        margin-right: 10px;
        color: #5e5c5c;
        display: block;
      }

      .dropdown-icon {
        display: none;
      }
    }

    .dropdown-active .dropdown {
      display: block;
    }

    .bottom {
      p {
        display: none;
      }

      .bottom-ad {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    width: 50px;

    .top {
      font-size: 18px;
    }

    li {
      padding: 8px 10px;

      .icon {
        margin-right: 5px;
      }
    }

    .bottom-ad button {
      padding: 6px 25px;
      font-size: 10px;
    }
  }
}

.menu-icon {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}
