.table{
   max-width: 80%;
   margin: auto;
   margin-top: 30px;
   padding: 20px;
   box-shadow: 5px 9px 10px -8px rgba(27, 27, 27, 0.75);

   .tablecell{
    color: rgb(102, 101, 101);
   }

   .table-heading{
    display: flex;
    flex-direction: columm;
    justify-content: space-between;

    .search{
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background: #c9c7c773;
        border-radius:5px;
        // border: 0.5px solid lightgray;

        input{
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    
   }
   .table-subhead{
    color: rgb(18, 170, 107);
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1px;
    font-weight: 600;
   }

   .status-button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    color: white;

    &.active {
        padding: 8px 20px;
      background-color: rgba(11, 153, 53, 0.61);
      color: rgb(6, 54, 38);
      border: 1px solid rgb(6, 54, 38);
    }

    &.inactive {
      background-color: rgba(238, 89, 89, 0.603);
      color: red;
      border: 1px solid red;
    }
}

   .pagination{
    display: flex;
    justify-content:right ;
    align-items: right;
    margin: right;
    float: right;
   }

   
}