.table {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 5px 9px 10px -8px rgba(27, 27, 27, 0.75);

    .tablecell {
        color: rgb(102, 101, 101);
    }
}

@media (max-width: 768px) {
    .table {
        width: 100%;
        padding: 10px;
    }

    Table {
        width: 100%;
    }

    .table-container {
        overflow-x: auto;
    }
}

.table-container {
    overflow-x: auto;
}
